#topics{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25%;
    div{
        padding: 2px 15px;
        a{
            text-decoration: none;
        }
    }
    div::before{
        content: "📕  ";
    }
}
h4{
    margin: 15px 0px 10px 0px;
}